<h1>About</h1>
<p>
  <%= link_to "Manchester United", "http://manutd.com" %>
  is the most successful club in 
  <%= link_to "English Premier League", "http://premierleague.com" %>
  history. It is also one of the most popular football clubs in the world.
</p>