<div class="center hero-unit">
	<h1>Welcome to M16</h1>
	<p>
	  The one stop shop for the best
	  <%= link_to "Manchester United", "http://manutd.com" %>
	  pictures, cover photos and wallpapers.
	</p>
	<p>
	  <%= link_to "Sign Up Now!", "#", class: "btn btn-large btn-primary" %>
	</p>
</div>